# Добавляем .env в .gitignore
.env

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать CSV-файлы с комментариями
*.csv

# Игнорировать папку yt_comparser, если она не должна быть в репозитории
yt_comparser/